@model HowMuchCanISpend.Models.HomeViewModel
@{
    ViewBag.Title = "How much can we spend";
}

<h2>Available Moneys</h2>

@foreach (var categoryDisplay in Model.CategoryDisplays)
{
    <div class="category-header">
        <div>@categoryDisplay.Category.CategoryName Moneys: @categoryDisplay.Moneys.ToString("C2")</div>
        <div class="add-transaction-container">
            <a href="#@String.Format("add{0}Transaction", categoryDisplay.Category.CategoryName.Replace(" ",""))" data-role="button" data-position-to="window" data-inline="true" data-rel="popup" class="add-transaction">+</a>
        </div>
    </div>
    <ul data-role="listview" data-inset="true">
        <li class="progressbar">
            @if (categoryDisplay.Moneys > 0)
            {
                <div class="positive" style="width:@categoryDisplay.Percent%">&nbsp;</div>
            }
            else
            {
                <div class="negative" style="width:@categoryDisplay.Percent%">&nbsp;</div>
            }
        </li>
    </ul>
    <div data-role="popup" id="@String.Format("add{0}Transaction", categoryDisplay.Category.CategoryName.Replace(" ",""))">
        <form method="post" action="/home/addTransaction">
            <input type="hidden" name="category" value="@categoryDisplay.Category.Id" />
            <ul data-role="listview">
                <li>
                    <label for="basic">Where At:</label>
                    <input type="text" name="merchant" id="basic" data-mini="true" placeholder="Where is you" />
                </li>
                <li>
                    <label for="basic">How Much:</label>
                    <input type="text" name="amount" id="basic" data-mini="true" placeholder="YOU SPENT WHAT?" />
                </li>
                <li>
                    <input type="submit" value="Add that shit" />
                </li>
            </ul>
        </form>
    </div>
}